body{
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: #f5f3f3;

}
.logo{
    height: auto;
    width: 100px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}
#Logo{
    z-index:1;
    overflow: hidden;
}
.navbar{
    background-color: rgba(197, 194, 194, 0.582);
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 5px solid grey;
    
}
.nav-main li{
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    margin-right: 30px;
    font-size: 22px;
    padding-top: 15px;
}
.nav-main a{
    color: goldenrod;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
}
.nav-main a:hover{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 2px white;
    
}
.login{
    position: relative;
    display: flex;
    float: right;
    
}
.login:hover .drawerlogin{
    display: block;
}
.drawerlogin{
    display: none;
    position: absolute;
    height: 300px;
    color: white;
    width: 350px;
    right: 50px;
    background: #274b57;
background: linear-gradient(90deg,#274b57 0%, #0a330a 80%);
background: -webkit-linear-gradient(90deg,#274b57 0%, #0a330a 80%);
background: -moz-linear-gradient(90deg,#274b57 0%, #0a330a 80%);
    box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
-webkit-box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
-moz-box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
    z-index: 2;
    border: 1px solid white;
}
.drawerlogin h1{
    text-align: center;
    text-shadow: 4px 2px 3px rgb(238, 219, 219);
    color: white;

}
.drawerlogin input{
    color: rgb(32, 53, 5);
    font-size: 18px;
}

.drawerlogin button{
    margin-right: 10px;
    margin-top: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.drawerlogin a{
    color: white;
    text-decoration: none;
}
.drawerlogin .text{
    float: left;
}

.profile-image{
    position: relative;
    left: 90px;
    margin-top: 30px;
    background-color: transparent;
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
}

.about{
    text-align:center;
    
    border-top: 10px solid red;
    border-bottom: 2px solid black;
    border-left: 3px solid rgb(102, 101, 101);
    border-right: 3px solid rgb(102, 101, 101);
    padding-bottom: 50px;
    margin-top: 35px;
    /* padding-top: 155px;
    margin-top: 50px;
    margin-bottom: 25px; */
    color: white;
    background: url("../images/luxury.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    
}
.about p{
    color: grey;
    position: relative;
    top: 75px;
    text-shadow: 1px 1px 1px black;
    padding-top: 20px;
    padding-bottom: 10px;
    
}
.about p:hover{
    color:white;
    font-size: 14px;
    text-shadow: 2px 2px 2px rgba(241, 240, 240, 0.87);
    background-color: rgba(240, 17, 17, 0.89);
    transition: all 1s ease-in-out;
}
.title{
    font-size: 48px;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 1px grey;
    text-align: center;

}

.profiles{
    
    color: whitesmoke;
    background-color: rgba(241, 217, 156, 0.521);
    border: 2px solid grey;
    border-radius: 15px;
    margin-top: 35px;


}
.profiles:hover{
    border: 15px solid white;
    border-top: 5px solid goldenrod;
    border-bottom: 5px solid goldenrod;
    transition: all 1s ease-in-out;
}
.profiles:hover h2{
    color: rgba(24, 12, 133, 0.836);
    font-size: 38px;
    transition: all 1s ease-in;
}
.profiles:hover p{
    color: red;
}
.profiles h2{
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
.profiles h1{
    color: rgb(252, 246, 252);
    text-align: center;
    font-size: 35px;
    
}
.profiles:hover h1{
    color: maroon;
    text-shadow: 1px 1px 1px black;
}
.profiles p{
    text-align: center;
    
}
.profiles p:hover{
    text-shadow: 1px 1px 1px rgb(104, 4, 104); 
}


.testimonials h2{
    font-size: 48px;
    text-align: center;
    width: 100%;
}

.testimonials .far{
    position: relative;
    bottom: 45px;
    right: 35px;
    margin-top: 15px;
    padding-top: 50px;
}
.testimonials div{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    
}
.testimonials{
    background-color: rgba(220, 173, 231, 0.5);
    
    margin-top: 180px;
    margin-bottom: 120px;
    box-shadow: 10px -9px 67px 17px rgba(245,241,241,1);
-webkit-box-shadow: 10px -9px 67px 17px rgba(245,241,241,1);
-moz-box-shadow: 10px -9px 67px 17px rgba(245,241,241,1);
    
box-shadow: -34px -46px 15px -3px rgba(147,102,217,0.64);
-webkit-box-shadow: -34px -46px 15px -3px rgba(147,102,217,0.64);
-moz-box-shadow: -34px -46px 15px -3px rgba(147,102,217,0.64);

}
.testimonials p:hover{
    text-shadow: 1px 1px 1px white;
    color: maroon;
    font-size: 18px;
    transition: all 1s ease-in;
}
.fa-user-circle{
    color: rgb(211, 136, 211);
    
}

.testimonials{
    border: 7px solid rgb(160, 160, 160);
}
.testimonials:hover h2{
    color: whitesmoke;
    font-size: 55px;
    transition: all 1s ease-in;
    text-shadow: 3px 3px 3px rgba(112, 14, 112, 0.74);
}
.footer{
    background: linear-gradient(180deg, #cecccce0 0%, #131113   100%);
    width: 100%;
    border: 1px solid rgba(73, 72, 72, 0.8);
    color: white;
    border-top: 1px solid gray;
    padding-bottom: 20px;
}
.footer ul{
    list-style: none;
}
.footer li{
    text-decoration: none;
    
}
.footer a{
    color: white;
}
.footer a:hover{
    text-decoration: none;
    text-shadow: 2px 2px 3px goldenrod;
}
.footer h3{
    font-size: 28px;
    color: rgb(10, 10, 10);
}
#fsocial{
    color: white;
    margin-right: 15px;
    
    
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    //CSS
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  }