body{
    font-family: 'ZCOOL XiaoWei', serif;
    background: #4d3c3c;
background: linear-gradient(90deg,#4d3c3c 0%, #ac9af3 80%);
background: -webkit-linear-gradient(90deg,#4d3c3c 0%, #120e20 80%);
background: -moz-linear-gradient(90deg,#4d3c3c 0%, #292341 80%);
}
.logo{
    height: auto;
    width: 100px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}
#Logo{
    z-index:1;
    overflow: hidden;
}
.navbar{
    background-color: rgba(197, 194, 194, 0.582);
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 5px solid grey;
    
}
.nav-main li{
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    margin-right: 30px;
    font-size: 22px;
    padding-top: 15px;
}
.nav-main a{
    color: goldenrod;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
}
.nav-main a:hover{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 2px white;
    
}
.login{
    position: relative;
    display: flex;
    float: right;
    
}
.login:hover .drawerlogin{
    display: block;
}
.drawerlogin{
    display: none;
    position: absolute;
    height: 300px;
    color: white;
    width: 350px;
    right: 50px;
    background: #274b57;
background: linear-gradient(90deg,#274b57 0%, #0a330a 80%);
background: -webkit-linear-gradient(90deg,#274b57 0%, #0a330a 80%);
background: -moz-linear-gradient(90deg,#274b57 0%, #0a330a 80%);
    box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
-webkit-box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
-moz-box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
    z-index: 2;
    border: 1px solid white;
}
.drawerlogin h1{
    text-align: center;
    text-shadow: 4px 2px 3px rgb(238, 219, 219);
    color: white;

}
.drawerlogin input{
    color: rgb(32, 53, 5);
    font-size: 18px;
}

.drawerlogin button{
    margin-right: 10px;
    margin-top: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.drawerlogin a{
    color: white;
    text-decoration: none;
}
.drawerlogin .text{
    float: left;
}

.profile-image{
    position: relative;
    left: 90px;
    margin-top: 30px;
    background-color: transparent;
    padding: 10px 10px 10px 10px;
    border: 1px solid white;
}

.about{
    text-align:center;
    

    padding-bottom:100px;
    padding-top: 155px;
    margin-top: 50px;
    margin-bottom: 25px;
    color: white;
    background: url("../images/luxury.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}
.about p{
    color: grey;
    position: relative;
    top: 75px;
    text-shadow: 1px 1px 1px black;
    padding-top: 20px;
    padding-bottom: 10px;
    
}
.about p:hover{
    color:white;
    font-size: 14px;
    text-shadow: 1px 1px 1px white;
    background-color: rgba(14, 11, 11, 0.897);
    transition: all 1s ease-out;
}
.title{
    font-size: 48px;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 1px grey;
    text-align: center;

}

.profiles{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: whitesmoke;
    background-color: rgba(241, 217, 156, 0.521);
    border: 2px solid grey;
    border-radius: 15px;
    margin-top: 35px;


}
.profiles h2{
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
.profiles h1{
    color: rgb(252, 246, 252);
    text-align: center;
    font-size: 35px;
    
}
.profiles p{
    text-align: center;
    
}
.profiles p:hover{
    text-shadow: 1px 1px 1px rgb(104, 4, 104); 
}


.testimonials h2{
    font-size: 48px;
    text-align: center;
    width: 100%;
}

.testimonials .far{
    position: relative;
    bottom: 45px;
    right: 35px;
    margin-top: 15px;
    padding-top: 50px;
}
.testimonials div{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    
}
.testimonials{
    background-color: whitesmoke;
    
    margin-top: 180px;
    margin-bottom: 120px;
    box-shadow: 10px -9px 67px 17px rgba(245,241,241,1);
-webkit-box-shadow: 10px -9px 67px 17px rgba(245,241,241,1);
-moz-box-shadow: 10px -9px 67px 17px rgba(245,241,241,1);

}
.testimonials p:hover{
    text-shadow: 1px 1px 1px white;
    
}


.footer{
    background: linear-gradient(180deg, #cecccce0 0%, #131113   100%);
    width: 100%;
    border: 1px solid rgba(73, 72, 72, 0.8);
    color: white;
    border-top: 1px solid gray;
    padding-bottom: 20px;
}
.footer ul{
    list-style: none;
}
.footer li{
    text-decoration: none;
    
}
.footer a{
    color: white;
}
.footer a:hover{
    text-decoration: none;
    text-shadow: 2px 2px 3px goldenrod;
}
.footer h3{
    font-size: 28px;
    color: rgb(10, 10, 10);
}
#fsocial{
    color: white;
    margin-right: 15px;
    
    
}