
  

.navbar img{
    height: 50%;
    width: 50%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    
}
#bgVideo{
    position: fixed;
  right: 0; 
  top: 0;
  
  width: auto; 
  height: auto;
  z-index: -1;
}


body{
    background-color: rgb(14, 13, 13);

}

.navbar{
    background-color: rgba(17, 17, 17, 0.979);
    width: 100%;
    border-bottom: 3px solid black;
    border-top: 5px solid grey;
}
.car{
    background-color: rgba(218, 165, 32, 0);
    margin: 50px 100px 100px 50px;
    
}
.products .row{
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
.product{
    color: white;
    margin-right: 25px;
    padding-bottom: 35px;
}
.products button{
    background-color: rgba(128, 128, 128, 0.726);
    border-radius: 10px;
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}
.products button:hover{
    background-color: rgba(167, 11, 240, 0.39);

    border: 2px solid rgba(46, 34, 5, 0.897);
    
}
.product:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background-color: rgba(11, 11, 12, 0.979);
    border: 3px solid goldenrod;
    transition: all 1s ease-out;

}
.selection ul{
    display: flex;
    flex-direction: row;
    
}
.breadcrumb li{
    display: flex;
    margin-left: 25px;
}

.breadcrumb li{
    font-size: 20px;
    
}
.breadcrumb a{
    color: white;
    text-decoration: none;
}
.b-crumb ul{
    background-color: rgba(114, 114, 113, 0.699);
}
.breadcrumb li{
    border-top: 4px solid rgb(97, 73, 14);
    transition: border 1s ease-in;
}
.breadcrumb a:hover{
   text-decoration: none;
    
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}
.nav-main li{
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    margin-right: 10px;
    font-size: 22px;
    padding-top: 15px;
}
.nav-main a{
    color: goldenrod;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    position: relative;
    left: 330px;
    top: 30px;
    
}
.nav-main a:hover{
    text-decoration: none;
    color: rgb(252, 249, 249);
    text-shadow: 2px 2px 2px goldenrod;
    
}
.login{
    position: relative;
    display: flex;
    float: right;
    
}
.login:hover .drawerlogin{
    display: block;
}
.drawerlogin{
    display: none;
    position: absolute;
    height: 300px;
    color: white;
    width: 350px;
    right: 50px;
    background: #274b57;
background: linear-gradient(90deg,#274b57 0%, #0a330a 80%);
background: -webkit-linear-gradient(90deg,#274b57 0%, #0a330a 80%);
background: -moz-linear-gradient(90deg,#274b57 0%, #0a330a 80%);
    box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
-webkit-box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
-moz-box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
    z-index: 2;
    border: 1px solid white;
}

.drawerlogin h1{
    text-align: center;
    text-shadow: 4px 2px 3px rgb(238, 219, 219);
    color: white;

}
.drawerlogin input{
    color: rgb(32, 53, 5);
    font-size: 18px;
}

.drawerlogin button{
    margin-right: 10px;
    margin-top: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.drawerlogin a{
    color: white;
    text-decoration: none;
}
.drawerlogin .text{
    float: left;
}


.products img{
    height: 200px;
    width: 400px;
}
.products img:hover{
    background-color: rgba(0, 0, 0, 0.336);
    transition: all 1s ease-in;
}

form{
    background-color: rgba(26, 25, 24, 0.425);
    border-radius: 15px;
    color: rgba(248, 248, 248, 0.897);
    margin-top: 15px;
    text-shadow: 1px 1px 1px rgb(10, 10, 10);
    text-align: center;
    border: 1px solid goldenrod;
}

form:hover{
    background-color: rgba(120, 1, 156, 0.877);
    transition: all ease-in 0.2s;
    
}
form p{
    float: left;
    margin-left: 25px;
}
form h1{
    padding-top: 10px;
}
option{
    color: rgb(15, 15, 15);
}
.footer img{
    height: 100px;
    width: 50%;
    display: inline-flex;
    /* margin-top: 10px;
    margin-left: 20px; */
}

.copyright{
    text-align: center;
    
}

.footer{
    background: linear-gradient(180deg, #cecccce0 0%, #131113   100%);
    width: 100vw;
    border-top: 1px solid rgba(73, 72, 72, 0.8);
    color: white;
    border-top: 1px solid gray;

    
}
.footer ul{
    list-style: none;
}

.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: none;
    text-shadow: 2px 2px 3px goldenrod;
}
.footer h3{
    font-size: 28px;
    color: rgb(10, 10, 10);
}
#fsocial{
    color: white;
    
    
    
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    //CSS
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  }