.navbar{
    background-color: rgba(17, 1, 22, 0.815);
    width: 100%;
    border-bottom: 3px solid black;
    border-top: 5px solid grey;
}
.nav-main li{
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    margin-right: 10px;
    font-size: 22px;
    padding-top: 15px;
}
.nav-main a{
    color: goldenrod;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
    font-size: 24px;
    top: 30px;
    
}
.nav-main a:hover{
    text-decoration: none;
    color: rgb(252, 249, 249);
    text-shadow: 2px 2px 2px goldenrod;
    
}

.login:hover .drawerlogin{
    display: block;
}
.drawerlogin{
    display: none;
    
    height: 300px;
    color: white;
    width: 50%;
    
    background: #274b57;
background: linear-gradient(90deg,#274b57 0%, #0a330a 80%);
background: -webkit-linear-gradient(90deg,#274b57 0%, #0a330a 80%);
background: -moz-linear-gradient(90deg,#274b57 0%, #0a330a 80%);
    box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
-webkit-box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
-moz-box-shadow: 18px 20px 79px -2px rgba(0,0,0,0.58);
    z-index: 2;
    border: 1px solid white;
}

.drawerlogin h1{
    text-align: center;
    text-shadow: 4px 2px 3px rgb(238, 219, 219);
    color: white;

}
.drawerlogin input{
    color: rgb(32, 53, 5);
    font-size: 18px;
}

.drawerlogin button{
    
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.39);
    border: 1px solid white;
    color: white;
}
.drawerlogin a{
    color: white;
    text-decoration: none;
}
.profile{
    background-color: rgba(128, 128, 128, 0.719);
    width: 30%;
    height: 30%;
    border:1px solid rgb(22, 22, 22);
    position: relative;
    right: 170px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 15px;
}
.profile img{
    border-radius: 50%;
}
.specs{
    top: 5px;
    position: relative;
}

.flogo{
    height: auto;
    width: 200px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}
.copyright{
    text-align: center;
    margin-top: 20px;
}
.footer{
    background-color: rgb(196, 192, 192);
    width: 100%;
    border: 1px solid rgba(73, 72, 72, 0.8);
    color: darkslategray;
    border-top: 1px solid gray;
    padding-bottom: 20px;
}
.footer ul{
    list-style: none;
}
.footer li{
    text-decoration: none;
    
}
.footer a{
    color: darkslategray;
}
.footer a:hover{
    text-decoration: none;
    text-shadow: 2px 2px 3px goldenrod;
}
.footer h3{
    font-size: 28px;
    color: rgb(10, 10, 10);
}
#fsocial{
    color: white;
    margin-right: 15px;
    
    
}