body{
    font-family: 'ZCOOL XiaoWei', serif;


}




.profile-image{
    position: relative;
    left: 90px;
    margin-top: 20px;
    background-color: transparent;
    padding: 20px 20px 20px 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: red;
    border: 2px solid salmon;
}

.about{
    text-align:center;
    
    border-top: 10px solid red;
    border-bottom: 2px solid black;
    border-left: 3px solid rgb(102, 101, 101);
    border-right: 3px solid rgb(102, 101, 101);
    padding-bottom: 100px;
    margin-top: 35px;
    /* padding-top: 155px;
    margin-top: 50px;
    margin-bottom: 25px; */
    color: white;
    background: url("../images/luxury.jpg") no-repeat;
    background-size: cover;
    background-position: center;



    
}
.about p{
    color: grey;
    position: relative;
    top: 75px;
    text-shadow: 1px 1px 1px black;
    padding-top: 20px;
    padding-bottom: 10px;
    
}
.about p:hover{
    color:white;

    text-shadow: 1px 1px 1px rgba(241, 240, 240, 0.87);
    background-color: maroon;
    transition: all 1s ease-in-out;
    border: 2px solid grey;
}
.title{
    font-size: 54px;
    color: maroon;
    font-weight: bolder;
    text-shadow: 1px 1px 1px grey;
    text-align: center;

}

.profiles{
    
    color: whitesmoke;
    background-color: rgba(241, 217, 156, 0.521);
    border: 2px solid grey;
    border-radius: 15px;
    margin-top: 35px;


}
.profiles:hover{
    border: 15px solid white;
    border-top: 5px solid goldenrod;
    border-bottom: 5px solid goldenrod;
    transition: all 1s ease-in-out;
}
.profiles:hover h2{
    color: rgba(24, 12, 133, 0.836);
    font-size: 38px;
    transition: all 1s ease-in;
}
.profiles:hover p{
    color: red;
}
.profiles h2{
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
.profiles h1{
    color: rgb(252, 246, 252);
    text-align: center;
    font-size: 35px;
    
}
.profiles:hover h1{
    color: maroon;
    text-shadow: 1px 1px 1px black;
}
.profiles p{
    text-align: center;
    
}
.profiles p:hover{
    text-shadow: 1px 1px 1px rgb(104, 4, 104); 
}


.testimonials h2{
    font-size: 48px;
    text-align: center;
    width: 100%;
}

.testimonials .far{
    position: relative;
    bottom: 45px;
    right: 35px;
    margin-top: 15px;
    padding-top: 50px;
}
.testimonials div{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    
}
.testimonials{
    background-color: rgba(220, 173, 231, 0.5);
    
    margin-top: 180px;
    margin-bottom: 120px;
    box-shadow: 10px -9px 67px 17px rgba(245,241,241,1);
-webkit-box-shadow: 10px -9px 67px 17px rgba(245,241,241,1);
-moz-box-shadow: 10px -9px 67px 17px rgba(245,241,241,1);
    
box-shadow: -34px -46px 15px -3px rgba(147,102,217,0.64);
-webkit-box-shadow: -34px -46px 15px -3px rgba(147,102,217,0.64);
-moz-box-shadow: -34px -46px 15px -3px rgba(147,102,217,0.64);

}
.testimonials p:hover{
    text-shadow: 1px 1px 1px white;
    color: maroon;
    font-size: 18px;
    transition: all 1s ease-in;
}
.fa-user-circle{
    color: rgb(211, 136, 211);
    
}

.testimonials{
    border: 7px solid rgb(160, 160, 160);
}
.testimonials:hover h2{
    color: whitesmoke;
    font-size: 55px;
    transition: all 1s ease-in;
    text-shadow: 3px 3px 3px rgba(112, 14, 112, 0.74);
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    

    
  }