.banner{
    font-family: 'ZCOOL XiaoWei', serif;
    background: rgb(244,240,240);
background: linear-gradient(180deg, rgba(244,240,240,0.958420868347339) 0%, rgba(102,14,90,1) 53%, rgba(49,10,43,1) 81%, rgba(8,7,7,0.9780287114845938) 100%);
}


.banner img{
    width: 100%;
    height: auto;
    top: 0;
}
.banner-text{
    position: absolute;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    right: 125px;
    color: rgb(95, 207, 50);
    background-color: rgba(7, 7, 7, 0.87);
    border: 1px solid brown;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}
.banner-below{
    border: 1px solid rgb(255, 254, 254);
    width: 50%;
    height: auto;
    position: absolute;
    top: 550px;
    left: 300px;
    padding-bottom: 25px;
    background-color: rgba(165, 42, 42, 0.849);
    color: rgba(229, 248, 122, 0.938);
    text-align: center;
}
.banner-below img{
    width: 75%;
    height: 50%;
    border: 2px solid white;
    margin-left: 75px;
    
}
.banner-text:hover{
    background-color: rgba(116, 113, 113, 0.822);
    transition: all 1s ease-in-out;
    border: 1px solid black;
    color: rgb(2, 34, 2);
}
.banner button{
    margin-top: 15px;
    padding: 10px;
    border: 2px solid brown;
    color: rgb(92, 22, 22);
    background-color: rgba(136, 132, 132, 0.945);
    
    
}
.banner button:hover{
    background-color: brown;
    border: 1px solid grey;
    color: white;
}
.review{
    margin-top:245px;
    padding-top: 15px;


}
.review .panel{
    border: 3px solid brown;
    border-radius: 25px;
    padding: 5px;
    
   
}

.product{
    margin-top:25px;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }