.navbar{
    background-color: rgb(219, 215, 215);
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 5px solid gray;
}
.nav-main{
    display: inline-flex;
    flex-direction: row;
}
.nav-main a{
  
    margin-right: 25px;
    
}
.nav-links{
    text-decoration:none;
    display: inline-flex;
    flex-direction: row;
    padding: 25px 10px 25px 10px;
    color: rgb(43, 1, 92);
    text-shadow: 5px 3px 5px solid black;
    font-size: 25px;

    
}
.nav-links:hover{
    color: rgb(20, 20, 20);
    text-shadow: 5px 5px 5px solid white;
}
.nav-main a:hover{
    text-decoration: none;
    
    
}


.login p{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    padding-left: 280px;

    margin-left: 10px;
}

