 main{
    font-family: 'ZCOOL XiaoWei', serif;
    background: rgb(214,211,211);
background: linear-gradient(180deg, rgba(214,211,211,1) 0%, rgba(144,114,0,0.989233193277311) 26%, rgba(81,7,110,1) 58%, rgba(64,63,63,0.9500175070028011) 92%);
}

.hero{
    border: 1px solid black;
    
}
.hero img{
    height: 80%;
    width: 100%;
}


.content{
    border-top: 3px solid black;
}
.motto{
    text-shadow: 1px 1px 1px white;
    
   
    color: rgb(57, 3, 73);
   
    position: absolute;
    bottom: 30%;
}
.motto h1{
    font-size: 60px;
}

.submit{
    margin-top: 10px
}
.award{
    margin-bottom: 50px;
    margin-top: 50px;
    border-top: 4px solid goldenrod;
    background-color: rgba(255, 230, 8, 0.253);
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 2px 3px 153px 166px rgba(255,242,242,0.61);
-webkit-box-shadow: 2px 3px 153px 166px rgb(255, 255, 255);
-moz-box-shadow: 2px 3px 153px 166px rgba(255,242,242,0.61);
}
form{
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 0px;
}
.formdata{
    padding-bottom: 10px;
    background-color: rgba(33, 6, 58, 0.822);
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    
}
.formdata p{
    color: white;
    display: inline-flex;
    margin-right: 10px;
    margin-top: 10px;
}
#medal{
    color: goldenrod;
    display: flex;
    justify-content: center;
    text-shadow: 5px 2px rgb(253, 253, 252);
}
.award-panel p{
    text-align: center;
}
.ad img{
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
    
}
.ad img:hover{
    border: 1px solid rgba(143, 142, 143, 0.904);
    transition: border 0.1s ease-in;

}
.lists ol{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 20px solid rgba(88, 6, 88, 0.911);
    border-radius: 5px;
}   
.box{
    position: absolute;
    top: 70%;
    left: 40%;
    background-color: rgba(60, 6, 77, 0.966);
    color:white;
    border-radius: 5%;
    padding: 10px;
    
}
.box button{
    background-color: rgb(245, 241, 241);
    border: 2px solid rgb(63, 3, 63);
    position: relative;
    float: right;
    bottom: 0;
    right: 20%;
    
}
.box button:hover{
    background-color: rgba(158, 158, 17, 0.918);
}
.herologo{
    width: 30%;
    height: auto;
    position: absolute;
    bottom: 55px;
    left: 65%;
}
.panels h1{
    text-align: center;
    color: goldenrod;
    font-size: 24px;
    text-shadow: 3px 2px 1px blanchedalmond;
}
.panels{
   background-color: rgba(255, 255, 255, 0.945);
   text-align: center;
   
}
.midbox{
    border: 1px solid rgb(58, 58, 58);
    
}
.panels img{
    height: auto;
    width: 75%;
    border-top: rgb(175, 13, 207);
    margin-bottom: 80px;
    margin-left: 75px;
}
.content h1{
    font-size: 55px;
    color: rgba(77, 2, 2, 0.767);
    text-shadow: 1px 1px 1px grey;
}
.features{
    color: whitesmoke;
    width: 75%;
    border-top: 3px solid goldenrod;
    padding-top: 20px;
}
.features:hover{
    background-color: rgba(48, 43, 43, 0.959);
    color: rgb(226, 224, 224);
    transition: all;
    transition-duration: 0.5s;
    transition-property: all;
}
.features p:hover{
    color: white;
    text-shadow: 4px 2px 2px black;
}
.award h1{
    padding-bottom: 25px;
    
}
.award{
    background-color: rgba(128, 0, 0, 0.021);
    color: rgb(255, 250, 250);
    text-align: center;
    font-size: 18px;
    border: 2px solid rgb(252, 250, 249);
}

/* Responsive */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  

    
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .box{
      position: absolute;
      left: 80px;
      bottom: 55px;
      padding-top: 30px;
      padding-bottom: 30px;
  }
  .adbox{
      margin-top: 65px;
      margin-bottom: 50px;
  }
  .box button{
      position: absolute;
      right: 50px;
      bottom: 5px;
      background-color: goldenrod;
  }
  .formdata p{
      display: flex;
      flex-direction: column;
  }
  .motto h1{
      font-size: 35px;
      text-align: center;
  }

  .brandlogo img{
      height: 75px;
      width: 170px;
      position: relative;
      top: 115px;
  }
  .nav-main li{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .mlogo{
      position: relative;
      margin-left: 25px;
  }
  

}