 .loginbody{
    background: url("../images/sunset.jpg") no-repeat center center fixed;
    margin: 0;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 100px;
    padding-bottom: 150px;
}
.mainlogin{
    
    border: 3px solid rgba(247, 159, 60, 0.925);
    border-radius: 75px;
    background-color: rgba(5, 5, 5, 0.856);
    color: white;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 450px;
    font-size: 18px;
    
    padding-top: 10px;
    padding-bottom: 50px;
    
    
    
}
.mainlogin h1{
    font-size: 48px;
    color: rgba(235, 235, 1, 0.904);
    text-shadow: 2px 2px 2px salmon;
}
.mainlogin a{
    color: white;
    text-decoration: none;
}
button{
    background-color: rgb(230, 90, 40);
    border: 2px solid rgb(189, 189, 63);
    border-radius: 10px;
    bottom: 25px;
    position: absolute;
    

} 
.welcome{
    font-size: 30px;
    text-align: center;
  
  }
  #abutton{
    position: relative;
    top: 0;
    margin-bottom: 30px;
  }