
.profile{
    background-color: rgba(128, 128, 128, 0.719);
    width: 50%;
    height: 50%;
    border:1px solid rgb(22, 22, 22);
    position: relative;
    right: 70px;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    
    margin-bottom: 30px;
    
}
.profile img{
    border-radius: 50%;
}
.specs{
    margin-top: 15px;
    position: relative;
    left: 150%;
}
