#bgVideo{
    position: fixed;
  right: 0; 
  top: 0;
  
  width: auto; 
  height: auto;
  z-index: -1;

}

.car{
    background-color: rgba(50, 3, 61, 0.623);
   border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
    
}

.car .row{
    padding-bottom: 20px;
    padding-top: 10px;
}


.product{
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 85px;
    
}
#price{
    color: goldenrod;
    text-shadow: 2px 2px 2px black;
}
.product button{
    background-color: rgba(29, 29, 29, 0.842);
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    color: rgba(238, 232, 240, 0.815);
    display: flex;
    justify-content: center;
}
.products button:hover{
    background-color: rgba(167, 11, 240, 0.39);
    color: rgba(209, 209, 9, 0.815);
    border: 5px solid rgba(46, 34, 5, 0.897);
    
}
.product:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background-color: rgba(11, 11, 12, 0.979);
    border: 5px solid goldenrod;
    transition: all 0.5s ease-in-out;

}
.pselection ul{
    display: flex;
    flex-direction: row;
    
}
.breadcrumb li{
    display: flex;
    margin-left: 25px;
}

.breadcrumb li{
    font-size: 20px;
    
}
.breadcrumb a{
    color: white;
    text-decoration: none;
}
.b-crumb ul{
    background-color: rgba(114, 114, 113, 0.699);
}
.breadcrumb li{
    border-top: 4px solid rgb(97, 73, 14);
    transition: border 1s ease-in;
}
.breadcrumb a:hover{
   text-decoration: none;
    
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}




.product img{
    height: auto;
    width: 300px;
    border: 1px solid goldenrod;
}



option{
    color: rgb(15, 15, 15);
}





/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    

  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }