 body{
    font-family: 'ZCOOL XiaoWei', serif;
    background: rgb(244,240,240);
background: linear-gradient(0deg, rgba(244,240,240,0.958420868347339) 0%, rgba(102,14,90,1) 53%, rgba(49,10,43,1) 81%, rgba(8,7,7,0.9780287114845938) 100%);
}

.singleproduct img{
    border: 2px solid rgba(214, 174, 226, 0.918);
    width: 550px;
    height: auto;
}
.singleproduct ul{
    padding-top: 45px;
}
.singleproduct button{
  position: relative;
  top: 0;
}
.icon-award{
    color: rgba(236, 175, 19, 0.925);
    
}
.icon-award i{
    margin-left: 10px;
}
.ads{
    margin: 40px auto 40px auto;
    background-color: white;
    border-radius: 15px;
    text-align:center;
    font-size: 36px;
    text-shadow: 2px 2px 2px goldenrod;
    padding: 15px;
}
.ads img{
    height: 150px;
    width: 200px;
    background-color: rgba(218, 165, 32, 0.788);
    border-radius: 10px;
    padding: 25px;
    margin-left: 25px;
    
}

.singleproduct{
    margin-top:25px;
} 

.text{
  color: white;
}
.comments{
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 15px;
  

}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    

    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    

    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }