/* 
body{
    background-color: rgb(14, 13, 13);
}

#bgVideo{
    position: fixed;
  right: 0; 
  top: 0;
  
  width: auto; 
  height: auto;
  z-index: -1;

}




.navbar{
    background-color: rgba(17, 17, 17, 0.979);
    width: 100%;
    border-bottom: 3px solid black;
    border-top: 5px solid grey;
}
.car{
    background-color: rgba(218, 165, 32, 0);
    margin: 50px 100px 100px 50px;
    
}
.products .row{
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
.product{
    color: white;
    margin-right: 25px;
    padding-bottom: 35px;
}
.products button{
    background-color: rgba(128, 128, 128, 0.726);
    border-radius: 10px;
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}
.products button:hover{
    background-color: rgba(167, 11, 240, 0.39);

    border: 2px solid rgba(46, 34, 5, 0.897);
    
}
.product:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background-color: rgba(11, 11, 12, 0.979);
    border: 3px solid goldenrod;
    transition: all 1s ease-out;

}
.selection ul{
    display: flex;
    flex-direction: row;
    
}
.breadcrumb li{
    display: flex;
    margin-left: 25px;
}

.breadcrumb li{
    font-size: 20px;
    
}
.breadcrumb a{
    color: white;
    text-decoration: none;
}
.b-crumb ul{
    background-color: rgba(114, 114, 113, 0.699);
}
.breadcrumb li{
    border-top: 4px solid rgb(97, 73, 14);
    transition: border 1s ease-in;
}
.breadcrumb a:hover{
   text-decoration: none;
    
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}




.products img{
    height: 200px;
    width: 400px;
}
.products img:hover{
    background-color: rgba(0, 0, 0, 0.336);
    transition: all 1s ease-in;
}

form{
    background-color: rgba(26, 25, 24, 0.425);
    border-radius: 15px;
    color: rgba(248, 248, 248, 0.897);
    margin-top: 15px;
    text-shadow: 1px 1px 1px rgb(10, 10, 10);
    text-align: center;
    border: 1px solid goldenrod;
}

form:hover{
    background-color: rgba(120, 1, 156, 0.877);
    transition: all ease-in 0.2s;
    
}
form p{
    float: left;
    margin-left: 25px;
}
form h1{
    padding-top: 10px;
}
option{
    color: rgb(15, 15, 15);
} */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    

  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }